.App {
  font-family: sans-serif;
  text-align: center;
}

.poke-check-box {
  background-color: lightgray;
  border-radius: 9px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}

.gen-selector-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

fieldset {
  width: 600px;
}
